body{
    margin: 0;
    padding: 0;
}

#video-grid{
  
    display:flex;
    justify-content: center;
}  
   
        
video{
  
    height: 300px;
    width: 300px;
    
}
.main{
    height: 100vh;
    display: flex;
}
.main_left{
    flex: 0.8;
    display: flex;
    flex-direction: column;
}
.main_right{
    flex:0.2;
}
.main_videos{
    flex-grow: 1;
    background:#0d4a9b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_controls{
    display: flex;
    background-color: #8fbae5;
    color: #051109;
    padding: 5px;
    justify-content: space-between;
}
.main_controls_block{
    display: flex;
}
.main_controls_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
    font-size: 20px;
}
.main_controls_button:hover{
    background-color:#76e7a9;
    border-radius: 5px;
}
.leave_meeting{
    color: red;
}
 .main_right {
    display: flex;
    flex-direction: column;
    background-color: #8fbae5;
    border-left: 1px solid #3d3d42;
}
.main_header {
  
    color: #5418e2;
    text-align: center;
}
.main_chat_window {
    flex-grow: 1;
    overflow-y: scroll;
   
}
.main_message_container {
    padding: 22px 12px;
    display: flex;
}
 
.main__message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #F5F5F5;
} 
.messages{
    color: #3b0da7;
    list-style: none;
} 











.unmute{
    color: red;
}
.stop{
    color: red;
}
